@import '../../../../node_modules/ka-table/static/icons';

.crud-table{
  min-height: 500px;

  select,input{
    max-height: 2.7rem;
  }

  .filter-text{
    max-width: 12rem;
  }

  .filter-ops{
    width: 4rem;
    min-width: 4rem;
  }

  .filter-dt{
    min-width: 10rem;
  }

 /* @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  $pagination-active-bg: $table-bg;
  $pagination-color: $table-color;
  $pagination-active-border-color: $table-bg;
  @import '~bootstrap/scss/bootstrap';


  .table {
    margin-bottom: 0;
  }
  tr {
    line-height: 40px;
    min-height: 40px;
    height: 40px;
  }
  input:not([type="checkbox"]){
    @extend .form-control;
  }
  .ka-filter-row {
    select{
      width: 70px;
      margin-right: 5px;
    }
  }
  .ka-no-data-row{
    text-align: center;
  }
  .ka-paging{
    padding: 15px;
  }
  */

  .ka-filter-row{display: none}
  &.show-filters .ka-filter-row{display: table-row}

  .ka-paging-pages{
    padding-left: 0px !important;
  }

  .ka-paging-page-index{
    cursor: pointer;
  }

  .ka-paging-sizes{
    display: flex;
    padding-left: 0;
    list-style: none;

    .page-size-select{
      width: 5rem;
    }

    & > span{
      margin-right: 0.5rem;
      line-height: 2.7rem;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  .ka-icon{
    font-weight: 100;
    font-size: 10px;
    font-family: 'icons';
  }
  .ka-icon-sort{
    margin-left: 3px;
    position: absolute;
  }
  .ka-pointer{
    cursor: pointer;
  }

  .ka-loading{
    position: absolute;
    top: 0px;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: white;*/

    & .ka-loading-icon{
      display: inline-block;
      width: 2rem;
      height: 2rem;
      vertical-align: -0.125em;
      border: 0.25em solid;
      border-right: 0.25em solid transparent;
      border-radius: 50%;
      animation: spinner-border .75s linear infinite;
      color: #506690;
    }

    & > div{
      top: 50%;
      position: absolute;
      left: 50%;
    }
  }
  .ka-loading-active{
    position: relative;
  }
  .ka-thead{
    border-top:0px;
  }
}

.table-settings{
  @media (min-width: 576px){
    .searchTop{
      max-width: calc(100% - 85px);
    }
    .filtersToggle{
      max-width: 85px;
    }
    .newButtonCont{
      max-width: 140px;
    }
  }
  @media (max-width: 575px){
    .searchTop{
      margin-bottom:10px;
    }
    .filtersToggle{
    }
    .newButtonCont{
      margin-bottom:10px;
    }
  }
  .searchTopButton{
    width:250px;
    float:right;
    max-width: 100%;
  }
}

.crud-form{
  button[type="submit"]{
    margin-top:15px;
  }
  .form-group{
    margin-bottom: 15px;
  }
}

.dropdown-menu-xs.right0{
  right:0px !important;
}